* {
  margin: 1px;
  padding: 0;
}
main {

  height: 800px;
  width: 810px;
  margin: auto;
  margin: top 10px;
}


header {

  height: 165px;
  border-bottom-right-radius:  10px;
  border-radius: 15px;
}

header img {
    width: 100%;
    border-top-right-radius:  10px;
    border-top-left-radius: 10px;
  }
nav {
  text-align:center;
  height:50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #DEBA25;
}

nav ul {
  list-style: none;
  padding-top: 10px;
}

nav ul li {
  display: inline;
  color:black;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
}

aside {
  background-color: #B4B4AF;
 height: 430px;
  width: 268px;
  float:left;
  margin: 6px;
  border-top-right-radius:  15px;
  border-top-left-radius: 15px;
 display: inline-block;
}

aside header {
  text-align: center;
  color: #F1F3F3;
  background-color:black;
  border-bottom-right-radius: 0.5px;
  border-bottom-left-radius: 0.5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 30px;
   margin-bottom: 10px;
}
article img {
  height: 80px;
  float: right;
border-radius: 15px;
}
 section{
  margin: 6px;
    height: 430px;
    width: 515px;
    display: inline-block;
    border-radius: 15px;
    float: left;
    display: inline-block;
    text-align: justify;
}


section h1{
    text-align: center;
    background-color: black;
    color: #F1F3F3;
font-size: 12px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
  }
section article{
    background-color: #EBEBEB;
    border-radius;
    width:auto;
    border-radius: 15px;
   height: 99px;
   margin-bottom: 10px;
  text-align: justify;
}

footer {

  height: 64px;
 clear: both;
 background-color: black;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;

}
footer p {
  text-align: center;
    color: #AFB9B8 ;
}
