* {
  margin: 1px;
  padding: 0;
}
main {

  height: 739px;
  width: 800px;
  margin: auto;
  margin: top 10px;
}


header {

  height: 165px;
  border-bottom-left-radius: 10px;
  border-radius: 15px;
}

header img {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-radius: 15px;
  }
nav {
  text-align:center;
  height:50px;
  border-bottom-left-radius: 10px;
  border-radius: 15px;
  background-color: #F8CE21;
}

nav ul {
  list-style: none;
  padding-top: 10px;
}

nav ul li {
  display: inline;

  color:black;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
}

aside {
  background-color: #B4B4AF;
  height: 430px;
  width: 270px;
  border-radius: 15px;
  float: left;
  color: black;
  margin: 6px;
  margin-bottom: 10px;
  display: inline-block;
}

aside header {
  text-align: center;
  color: #F1F3F3;
  background-color:black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 30px;


}
aside article {

  border-radius: 15px;
  background-color:#B4B4AF ;
  margin-top:  10px;

}

section{
  margin: 6px;
    height: 430px;
    width: 500px;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid red;
}
footer {

  height: 64px;
 clear: both;
 background-color: black;
 border-radius: 20px;
 border: 1px solid red;
}
footer p {
  text-align: center;
    color: #AFB9B8 ;
}
